// ==============================
// mixin
// ==============================
// @mixinは関数のようなものを作れる
// https://www.webcreatorbox.com/tech/sass-mixin
// map-get()の第一引数に変数名、第二引数にマップ型のキーを渡すと、マップ型の値が返る
// #{}は「インターポーレーション」といって、演算できない箇所、
// 変数使えない箇所でも使えるようにするものcalcなどでよく使う
// http://book.scss.jp/code/c4/08.html

// ブレイクポイントを定義した変数をmq()という@mixinで呼び出す
@mixin mq($breakpoint: md) { // mqは関数名 引数はsm 他のもできる
    @media #{map-get($breakpoints, $breakpoint)} { // @mediaでメディアクエリーの関数を作る
      @content; 
    }
  }
  // 呼び出す時、includeとする
  /*
  .foo {
    color: blue;
    @include mq() { // 引数を省略（初期値はmdの768px）
      color: yellow;
    }
    @include mq(lg) { // 引数を個別に指定
      color: red;
    }
  }*/
  // @media screen and (max-width: 414px)で返ってくる
  
  
  