// =============================
// ファイル取り込み
// =============================
@import "mixin";
// google fonts ----------------
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
// ==============================
// 変数
// ==============================
// カラーコード
$font-color_default: rgb(10, 10, 10);
$font-color_sub: #fcfcfc; 
$color_shadow: #d7fffe;

$bg-color_main:#fcfcfc;
$bg-color_main1:rgba(191,251,181,1);
$bg-color_main2:rgba(161,248,254,1);
$bg-color_main3:rgba(92,179,159,1);
$bg-color_main4:rgba(31,172,122,1);
$bg-color_sub1:linear-gradient(45deg, rgba(191,251,181,1) 10%, rgba(92,179,159,1) 50%, rgba(161,248,254,1) 90%);
$bg-color_sub2:linear-gradient(180deg, rgba(26,159,193,1) 0%, rgba(161,248,254,1) 25%, rgba(101,168,162,1) 50%);
$bg-color_sub3:linear-gradient(90deg, rgba(92,179,158,1) 25%, rgba(144,218,238,1) 60%, rgba(200,245,255,1) 95%);


// サイトの幅
$site-width: 1024px;

// skillのバー
// ここでそれぞれの値を受け取る？


// フォントサイズ
$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 0.8rem;
$font-size_2l: 1.2rem;
$font-size_3l: 1.6rem;
$font-size_4l: 1.8rem;

// paddingやmargin
$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family_corp: 'Amatic SC', cursive;

// メディアクエリのブレークポイント設定-----------------------------
$breakpoint-sm: 414px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1000px !default;

// マップ型変数を使うと便利 連想配列のようなもの
$breakpoints: ( // プロパティ:値
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

// ==============================
// mixin
// ==============================
// @mixinは関数のようなものを作れる
// https://www.webcreatorbox.com/tech/sass-mixin
// map-get()の第一引数に変数名、第二引数にマップ型のキーを渡すと、マップ型の値が返る
// #{}は「インターポーレーション」といって、演算できない箇所、
// 変数使えない箇所でも使えるようにするものcalcなどでよく使う
// http://book.scss.jp/code/c4/08.html

// ブレイクポイントを定義した変数をmq()という@mixinで呼び出す
@mixin mq($breakpoint: md) { // mqは関数名 引数はsm 他のもできる
  @media #{map-get($breakpoints, $breakpoint)} { // @mediaでメディアクエリーの関数を作る
    @content; 
  }
}
// 呼び出す時、includeとする
/*
.foo {
  color: blue;
  @include mq() { // 引数を省略（初期値はmdの768px）
    color: yellow;
  }
  @include mq(lg) { // 引数を個別に指定
    color: red;
  }
}*/
// @media screen and (max-width: 414px)で返ってくる



// smacssの設計思想
// ==================================
// base
// ==================================
html, body { //変数名で値を決める
  width: 100%;
  color: $font-color_default;
  font-size: $font-size_default;
  line-height: 1.6;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic",
   sans-serif; // TODO:リファクタ必要（変数にする）
  //  インテリJなどの統合環境開発ソフト IDE などだと、TODOと入れるとコメントアウトされる
  text-size-adjust: 100%;
  letter-spacing: 0.1em;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

p, a { // フォントを見やすく表示させる
  -webkit-font-smoothing: antialiased;
}

a {
  color: $font-color_default;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  transition: .3s;
}

.main{
    display: flex;
    flex-direction: row;
    background:$bg-color_main1;
    background: $bg-color_sub1;
  }

// ==================================
// SideBar
// ==================================
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:30%;
    height:100vh;
    // media query ---------------------------------
    @include mq(sm) { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 80px;
    z-index: 10;
    }
    &__home, &__menu2, &__menu3, &__menu4, &__menu5{
        background: $bg-color_main;
        font-size:$font-size_2l;
        box-sizing: border-box;
        width:50%;
        height:10%;
        display: flex;
        -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
        align-items: center; /* 縦方向中央揃え */
        -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
        justify-content: center; /* 横方向中央揃え */
        border:5px ridge rgb(62, 148, 44);
        border-radius:50px;
        // media query ---------------------------------
        @include mq(sm) { 
          display: none;
       
        }
      }
    &__active{
        background-color: $bg-color_main;
        font-size:$font-size_3l;
        box-sizing: border-box;
        width:110%;
        height:10%;
        display: flex;
        -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
        align-items: center; /* 縦方向中央揃え */
        -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
        justify-content: center; /* 横方向中央揃え */
        border:none;
        border-radius:0px;
         // media query ---------------------------------
         @include mq(sm) { 
          font-family: 'Oswald', sans-serif;
          width:100px;
          height: 100px;
          // border-radius: 40%;
        }
    }
}

// ==================================
// Contents
// ==================================
// コンテンツ共通
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width:70%;
    background-color: $bg-color_main;
     // media query ---------------------------------
     @include mq(sm) { 
     width:100%;
    }
    &__home, &__menu2, &__menu3, &__menu4, &__menu5{
        position: relative;
        width:95%;
        overflow: hidden;
        z-index:1;
        height:110vh;
    }

// ================================
// Top
// ================================
    &__hello{
      position: relative;
      float: left;
      display: flex;
      -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
      align-items: center; /* 縦方向中央揃え */
      -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
      justify-content: center; /* 横方向中央揃え */
      height:100%;
      width:100%;
      z-index:10;
      font-size:100px;
      animation: pulse 1s ease-in forwards;
      .title{
        font-size:100px;
      }
      .expand{
        animation: expand 1s ease-in forwards;
        // font-size:10px;
        // color:red;
        // background-color: #fbffd7;
      }
    }
    // bar--------------------------------
    .bar{
      position: relative;
      border:5px ridge rgb(255, 255, 255);
      border-radius: 5%;
      &__top{
        // background-color: #affdc662;
        top:-5%;
        left:30%;
        width:35%;
        height:50%;
        z-index:2;
        // animation: 3s ease 0s pulse;
      }
      &__right{
        // background-color: #d7fffe62;
        top:5%;
        left:50%;
        width:60%;
        height:65%;
        z-index:2;
        // animation: 3s ease 0s pulse;
      }
      &__left{
        // background-color: #f0ffd762;
        top:-55%;
        left:25%;
        width:45%;
        height:50%;
        transform: rotate(45deg);
        z-index:2;
        // animation: 3s ease 0s pulse;
      }
      &__bottom{
        // background-color: #e8d7ff62;
        top:-130%;
        left:-10%;
        width:50%;
        height:50%;
        // animation: 3s ease 0s pulse;
      }
      &__center{
        // background-color: #d7fffebb;
        top:-200%;
        left:55%;
        width:60%;
        height:70%;
        transform: rotate(135deg);
        z-index:2;
        // animation: 2s ease 0s pulse;
      }
      &__circle{
        // background-color: #d7fffebb;
        top:0;
        left:50%;
        width:60%;
        height:500px;
        transform: rotate(135deg);
        z-index:3;
        border-radius:10%;
        // animation: 2s ease 0s pulse;
      }
    }

// コンテンツ別
.content{

//======================= Menu1 ========================
    &__home{
      background: $bg-color_main4;
      background: radial-gradient(circle, rgba(31,172,122,1) 10%, rgba(78,227,230,1) 50%, rgba(26,159,193,1) 90%);
      .modal-mask {
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
        align-items: center; /* 縦方向中央揃え */
        -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
        justify-content: center; /* 横方向中央揃え */
          .modal-container {
          /* preview */
          color: #f0ffc5;
          /* text-shadow */
          text-shadow: 2px 2px 2px rgba(0,129,126,0.3);
          width: 200px;
          padding: 30px 20px;
          border-radius: 100px;
          background-color: #fff;
          font-size:$font-size_4l;
          color:#444;
          text-align: center;
        }
          .scroll{
          position: absolute;
          top: 80%;
          font-size: 40px;
          color: white;
          text-align: center;
        }
      }
    }

//=================== Menu2 ========================
    &__menu2{
        font-size:$font-size_3l;
        padding:20% 0%;
        background-image: url("../img/menu2_img.jpg");
        background-repeat: no-repeat;
        background-size:  cover;    

      .item {
        display: inline-block;
        min-width: 0.3em;
        font-size: 2rem;
        // animation: text-in .5s cubic-bezier(0.22, 0.15, 0.25, 1.43) 0s backwards;
        animation: text-in .5s ease 0s backwards;
      }
      .text{
        font-size:$font-size_3l;
        color:#fff;
        text-shadow: 1px 1px 2px #444;
        animation: 2s ease 0s fade-in;
        background: $bg-color_main2;
        background: $bg-color_sub2;
        // media query ---------------------------------
        @include mq(sm) { 
        font-size: $font-size_2l;
        }
      }
    }

//================== Menu3 ========================
    &__menu3{
        background: $bg-color_main3;
        background: $bg-color_sub3;
        font-size:$font-size_3l;
        color:#fff;
        text-shadow: 1px 1px 2px #444;
        padding:5% 0%;
        // media query ---------------------------------
        @include mq(sm) { 
          font-size: $font-size_2l;
          padding-top:20%;
        }
        .status-bar{
          color:#444;
          background-color: #e4f0f5;
          margin:2% auto;
          border-radius: 1rem;
          font-size: $font-size_2l;
          width:50%;
          animation:2s ease 0s slide-left forwards;
          list-style: none;
          padding-left:5%;
        }
    }

//=================== Menu4 ========================
    &__menu4{
        background: $bg-color_main2;
        background:$bg-color_sub2;
        // 上部切り替えボタン ---------------
        .menu__bar{
          margin:5% 0 1% 0;
          padding:0;
          display:flex;
          -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
          align-items: center; /* 縦方向中央揃え */
          -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
          justify-content: center; /* 横方向中央揃え */
          align-content: space-between;
          flex-wrap: wrap;
        .menu-button{
          color:#85ceb5;
          font-weight: bold;
          font-size:$font-size_l;
          list-style: none;
          margin:2%;
          padding:2%;
          text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
          border-radius: 50px;
          background: #efffff;
          box-shadow:  20px 20px 60px #bed5d9, 
             -20px -20px 60px #ffffff;
        }
        .menu-button--active{
          color:#ffce2f;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
          border-radius: 50px;
          background: linear-gradient(145deg, #cae1e6, #f0ffff);
          box-shadow:  20px 20px 60px #bed5d9, 
             -20px -20px 60px #ffffff;
        }
        
       }
        //  下部カード ------------------------------
       .card-slider{
       
        .card{
          background-color: $bg-color_main;
          width:45%;
          margin:1%;
          float:left;
          transition: transform 0.3s ease; // animation
          // media query ---------------------------------
          @include mq(sm) { 
            width:48%;
          }
          .card_image{
            // display: block;
            width: 100%;
          }
          .card-title{
            text-align: center;
            margin:3%;
          }
          .card-body{
            padding:2%;
          }
        }
        .card:hover{
          transform: scale(1.2);
        }
       }  
      //  スライダー ----------------------------------
      .VueCarousel{
      .VueCarousel-wrapper{
        // height:80%;
        .VueCarousel-inner{
          flex-basis: auto !important;
          // height: auto;
          visibility: visible !important;
          .VueCarousel-slide {
            background-color: rgba(255, 255, 255, 0.85);
            width:50%;
            height:50vh;
            margin:1%;
            overflow:scroll;
            box-sizing:border-box;
            .card_image{
              // display: block;
              width: 100%;
            }
            .card-title{
              text-align: center;
              margin:3%;
            }
            .card-body{
              padding:2%;
            }
          }
        }
     }
    }
    }

//=================== menu5 =================== 
    &__menu5{
        // --- グラデーション ---
        background: linear-gradient(to top, rgba(67, 213, 174, 0.7) 0%, rgba(142, 208, 188, 0.7) 100%),url("../img/218400_l.jpg");  /* 背景画像指定 */
        background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
        background-position: center;    /* 背景の位置指定 */
        background-size:cover;  /* 背景のサイズ */
        overflow: hidden;
        z-index:1;
        position: relative;
        top:-5px;
        height:110vh;
        padding:10%;
    }
 
}


// アニメーション ================================

@keyframes pulse {
  0% {
    background: rgb(31,172,122);
    background: radial-gradient(circle, rgba(31,172,122,1) 10%, rgba(78,227,230,1) 50%, rgba(26,159,193,1) 90%);
    border:3px inset #fff;
    border-radius:200px;
    transform: scale(1);
    font-size:100%;
    color:rgba(255, 255, 255, 0);
  }

  100%{
    left:-15px;
    background: rgb(31,172,122);
    background: radial-gradient(circle, rgba(31,172,122,1) 10%, rgba(78,227,230,1) 50%, rgba(26,159,193,1) 90%);
    border:15px ridge #fff;
    border-radius:600px;
    transform: scale(0.4);
    font-size:100%;
    color:#fbffd7;
    text-shadow: #fcfcfc;
  }
}

@keyframes expand {
  0% {
    background: rgb(243, 255, 251);
    background: radial-gradient(circle, rgba(31,172,122,1) 10%, rgba(78,227,230,1) 50%, rgba(26,159,193,1) 90%);
    border:3px inset #fff;
    border-radius:200px;
    transform: scale(0.4);
    font-size:100%;
    color:rgba(255, 255, 255, 0);
  }
  100%{
    background: rgb(251, 255, 254);
    background: radial-gradient(circle, rgba(31,172,122,1) 10%, rgba(78,227,230,1) 50%, rgba(26,159,193,1) 90%);
    transform: scale(1);
    font-size:0%;
    color:#fbffd7;
    text-shadow: #fcfcfc;
  }
}

@keyframes text-in {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    position:relative;
    top:20px;
    display:none;
    color:rgba(255, 255, 255, 0);
    opacity:0; 
  }
  100%{
    position:relative;
    top:0;
  }
}

@keyframes slide-left {
  0%{
    width:30%;
  }
  100%{
    width:70%;
    // ここを変数にしたい。
  }
}
}
