<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueSample</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app" class="main">
    <!-- ポイントはシングルクォーテーションを入れること -->
    <nav class="sidebar">

        <div @click="toggle = 'home'" class="sidebar__home">home</div>
        <div @click="toggle = 'about'" class="sidebar__menu2">about</div>
        <div @click="toggle = 'skills'" class="sidebar__menu3">skills</div>
        <div @click="toggle = 'works'" class="sidebar__menu4">works</div>
        <div @click="toggle = 'contact'" class="sidebar__menu5">contact</div>

    </nav>
    <section class="content">

        <div v-if="toggle === 'home'" class="content__home">
            イメージスライダー
        </div>
        <div v-if="toggle === 'about'" class="content__menu2">
            イメージスライダー２
        </div>
        <div v-if="toggle === 'skills'" class="content__menu3">
            イメージスライダー３
            {{ msg }}
        </div>
        <div v-if="toggle === 'works'" class="content__menu4">
            イメージスライダー4
            {{ msg }}
        </div>
        <div v-if="toggle === 'contact'" class="content__menu5">
            イメージスライダー5
            {{ msg }}
        </div>

    </section>
</div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
    new Vue({
       el: "#app",
       data: {
         msg: "Welcome",
        //  url:'https://google.com',
         menus:['about','works','links'],
         html:'<a href="contact">contact</a>',
         toggle:'home',
       },
       methods: {
         sayHello(){
           this.msg = "Hello!"
         }
       },
       mounted(){
         //表示後にやりたいことはここに書ける
       }
     })
    </script>
    
</body>
</html>